@model Repozytory.Models.Views.OgloszeniaZKategoriiViewModels
@using Microsoft.AspNet.Identity



@{
    ViewBag.Title = "Ogloszenia z kategorii: " + Model.Kategoria.Nazwa;
    ViewBag.Opis = "Opis do 160 znaków";
    ViewBag.SlowaKluczowe = "Słowa kluczowe, ogłoszenie, usługa";
}

<h2>Ogloszenia z kategorii: @Model.Kategoria.Nazwa</h2>
<hr/>

<div class="row">

    @foreach (var item in Model.Ogloszenia)
    {
        <div class="col-sm-8 col-sm-offset-2">
            <div class="panel panel-white post panel-shadow">
                <div class="post-heading">
                    <div class="pull-left image">
                        <img src="@Url.Content("/Content/Images/user.jpg")" class="img-circle avatar" alt="user profile image">
                    </div>
                    <div class="pull-left meta">
                        <div class="title h5">
                            <a href="#"><b>@item.Uzytkownik.UserName</b></a>
                        </div>
                        <h6 class="text-muted time">@item.DataDodania</h6>
                    </div>
                    <div class="pull-right meta">
                        <div class="title h5">

                            @if (User.Identity.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Pracownik") || User.Identity.GetUserId() == item.UzytkownikId))
                            {
                                <a href="@Url.Action("EdytujKategorieOgloszenia", "Kategorie", new {idOgloszenia = item.OgloszenieId, idKategorii = Model.Kategoria.KategoriaId})" alt="Edytuj" title="Edytuj" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>

                                if (User.IsInRole("Admin"))
                                {
                                    <a href="@Url.Action("Delete", "Ogloszenie", new {id = item.OgloszenieId})" alt="Usuń" title="Usuń" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                                }
                            }

                            <a href="@Url.Action("Details", "Ogloszenie", new {id = item.OgloszenieId})" alt="Szczegóły" title="Szczegóły" class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span></a>
                        </div>
                    </div>
                </div>
                <div class="post-description">
                    <h4>@item.Tytul</h4>
                    <p>@item.Tresc</p>
                    <div class="stats">
                        <a href="#" class="btn btn-default stat-item">
                            <i class="fa fa-thumbs-up icon"></i>2
                        </a>
                        <a href="#" class="btn btn-default stat-item">
                            <i class="fa fa-thumbs-down icon"></i>12
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
