@model Repozytory.Models.Ogloszenie

@{
    ViewBag.Title = "Szczegóły ogłoszenia nr" + Model.OgloszenieId;
    ViewBag.Opis = "Opis do 160 znaków";
    ViewBag.SlowaKluczowe = "Słowa kluczowe, ogłoszenie, usługa";
}

<h2>Szczegóły ogłoszenia nr: @Model.OgloszenieId</h2>

<div class="row">
    <div class="col-lg-4">
        <br />
        <img src="@Url.Content("/Content/Images/detailsPicture.png")" width="256" hight="256" alt="Alternate Text" />
    </div>
    <div class="col-lg-8">
        <h4>Ogłoszenie nr: @Model.OgloszenieId</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Uzytkownik.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Uzytkownik.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Tresc)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Tresc)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Tytul)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Tytul)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DataDodania)
            </dt>

            <dd>
                @Model.DataDodania
            </dd>

        </dl>
        <p>
            <a href="@Url.Action("Index", "Ogloszenie", null)" class="btn btn-default">
                <span class="glyphicon glyphicon-arrow-left"></span>  Wróć do listy
            </a>
            |
            <a href="@Url.Action("Edit", "Ogloszenie", new {id = Model.OgloszenieId})" class="btn btn-info">
                <span class="glyphicon glyphicon-pencil"></span> Edytuj
            </a>

        </p>
    </div>
</div>

