@model PagedList.IPagedList<Repozytory.Models.Ogloszenie>
@using Microsoft.AspNet.Identity
@using PagedList.Mvc

@{
    ViewBag.Title = "Lista ogłoszeń";
    ViewBag.Opis = "Opis do 160 znaków";
    ViewBag.SlowaKluczowe = "Słowa kluczowe, ogłoszenie, usługa";
}

@section styles {
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/PagedList.css")">
}

<h2>Lista ogłoszeń</h2>

<div class="row">
    <div class="col-sm-6">
        @if (User.Identity.IsAuthenticated)
        {
            <p>
                <a href="@Url.Action("Create", "Ogloszenie", null)" alt="Dodaj ogłoszenie" title="Dodaj ogłoszenie" class="btn btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Dodaj ogłoszenie</a>
            </p>    
        }        
    </div>
    <div class="col-sm-6 text-right">
        @if (ViewBag.DataSortowaniaRosnaco == "DataDodaniaAsc")
        {
            <p>
                <span class="glyphicon glyphicon-chevron-down">Data malejąco</span> 
                <span> | </span>
                @Html.ActionLink("Data rosnąco", "Index", new { orderSort = "DataDodaniaAsc" })    
            </p>
        }
        else if(ViewBag.DataSortowaniaRosnaco == "DataDodaniaDesc")
        {
            <p>
                @Html.ActionLink("Data malejąco", "Index", new { orderSort = "DataDodaniaDesc" })
                <span> | </span>
                <span class="glyphicon glyphicon-chevron-up">Data rosnąco</span>    
            </p>
        }

    </div>
</div>


<div class="row">
    

@foreach (var item in Model)
{
    Html.RenderPartial("_ListaOgloszenPartial", item);
}

</div>@*row*@

<div class="row text-center">
    <br />
    Strona @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) z @Model.PageCount @Html.PagedListPager(Model, page => Url.Action("Index", new { page, orderSort = ViewBag.CurrentSort }))
</div>
    

